body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
  }

.navbar-brand {
    font-weight: 500;
}

h1 {
    font-weight: 500;
    font-size: 30px;
}

.card-title,.card-text {
    color: white;
}

#columnas{
    column-count:3;
    column-gap:20px;  
 }

 footer {
    align-items: center;
    justify-content: center;
}

 .btn {
    color:white;
 }